{% extends 'layout.html' %}

{% block body %}
    <h3 style="margin-top: 100px;">Hakımda</h3>
    <hr class="border-5" > 
    <div class="mt-4 p-5 bg-dark text-white rounded text-monospace">
        <div class="text-center">
            <h1>MERHABA BEN SERDAR DAYICIK</h1><br>
            <p>
                Saygıdeğer kullanıcılarımız, sizlerle paylaşmak istediğimiz web sitesi, Python programlama dili ve Django framework'ü kullanılarak özenle oluşturulmuştur. Ben, HTML, CSS, Python ve C# gibi programlama dillerinde bilgi sahibiyim ve sektöre yeni adım atmış bulunmaktayım.
                Web sitemizin yapımı 3 gün gibi kısa bir sürede tamamlanmıştır ve Django ile oluşturduğum ilk sitedir. Bu projeyi hayata geçirirken büyük bir özveri ve keyifle çalıştık. Sizlerin de bu siteyi ziyaret ederek aynı keyfi yaşamanızı umuyorum.
            </p>
        </div>
    </div>
{% endblock %}